* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.main-start {
  background-color: #f5f7fb;
  color: #293264;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 550px;
  width: 550px;
  background-image: url("./images/blueBlob.png"), url("./images/yellowBlob.png");
  background-position: -500px 350px, 300px -250px;
  background-repeat: no-repeat;
  background-size: cover;
}
.start-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 34%;
}

.main-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.main-button {
  border-radius: 15px;
  background: #4d5b9e;
  color: #f5f7fb;
  padding: 0.75rem 3rem;
  border: none;
  font-family: "inter", sans-serif;
}

.main-text {
  font-family: "Karla", sans-serif;
  font-weight: 700;
}

.quiz-page {
  display: grid;
  height: 100%;
  padding: 7% 13%;
}

.quiz-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-container {
  padding-top: 5px;
  border-bottom: 1px solid black;
  display: grid;
  gap: 5px;
}

.question-container:nth-of-type(5) {
  border: none;
}

.answerContainer {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  gap: 5px;
  height: 50%;
  width: 100%;
}

.answer {
  display: none;
}

/* label {
  font-size: 0.7rem;
  border: 1px solid black;
  border-radius: 8px;
  padding: 3px 7px;
  color: #293264;
  font-family: "inter", sans-serif;
  background-color: #f5f7fb;
} */

span {
  font-size: 0.7rem;
  display: inline-block;
  border: 1px solid black;
  border-radius: 8px;
  padding: 3px;
  color: #293264;
  font-family: "inter", sans-serif;
  background-color: #f5f7fb;
  text-align: center;
}

.score-tally {
  padding-right: 7px;
}

.correct {
  background-color: #94d7a2 !important;
}

.incorrect {
  background-color: #f8bcbc !important;
}

input[type="radio"]:checked ~ * {
  background: #d6dbf5;
}
